<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
 <script src="../../node_modules/cesium/Build/Cesium/Cesium.js"></script>
  <link rel="stylesheet" href="../../node_modules/cesium/Build/Cesium/Widgets/widgets.css">
    <style>
        #cesiumContainer {
            height: 98vh;
        }
    </style>
</head>


<body>

    <div style="position: absolute;right:10px; top:60px; border: 1px solid red; z-index: 11111;" >
        <button>播放视频</button>

    </div>

    <div id="cesiumContainer"></div>
    <script>



        var viewer = new Cesium.Viewer('cesiumContainer', {

        });

        var tileset = viewer.scene.primitives.add(
            new Cesium.Cesium3DTileset({
                url: 'http://localhost:8888/tileset.json'
            })
        );
        viewer.zoomTo(tileset);
    </script>
</body>

</html>