<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是一个网页</title>

    <style>

        * {
            height: 99%;
            margin: 0;
            padding: 0;
            border: 0;
        }

    </style>
</head>
<body>

 这是一个网友
</body>
<script>
    let size = 50
    const ipc = require('electron').ipcRenderer
    // const webview = document.querySelector('webview')
    // webview.addEventListener('dom-ready', () => {
    //     webview.openDevTools()
    //     webview.insertCSS('body{font-size:50px;!important}')
    // })
    // ipc.on('index-css', function (event, arg) {
    //     const message = `异步消息回复: ${arg}`
    //     console.log(message)
    //     alert(222)
    //     webview.insertCSS(`body{font-size:${size + 10}px;!important`)
    // })

</script>
</html>