<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body>
<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
    <div class="layui-progress-bar  " lay-percent="0%"></div>
</div>

<div class="site-demo-button" style="margin-top: 20px; margin-bottom: 0;">
    <button class="layui-btn site-demo-active11" onclick="update()" data-type="setPercent">设置50%</button>
    <button class="layui-btn site-demo-active" data-type="loading">模拟loading</button>
</div>


</body>
<script src="../../layui/layui.js"></script>

<script>
    const {ipcRenderer} = require('electron')

    function update() {
        ipcRenderer.send('update', '2222')
    }

    let element;
    layui.use('element', function () {
         element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块



    });


    ipcRenderer.on('downloadProgress', (event, data) => {
        element.progress('demo', `${data}%`);

    });
</script>

<script>

</script>
</html>