<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>版本更新</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">

    <style>
        .wrapper {

            padding: 35px;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
        <div class="layui-progress-bar  " lay-percent="0%"></div>
    </div>


</div>


</body>
<script src="../../layui/layui.js"></script>

<script>
    const {ipcRenderer} = require('electron')

    function update() {


        
        ipcRenderer.send('update', '2222')
    }


    let element;
    let layer;
    layui.use(['element'], function () {
        element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        layer = layui.layer

    });


    ipcRenderer.on('downloadProgress', (event, data) => {

        if (data === 'no') {


        } else {
            if (data.percent)
                element.progress('demo', `${data.percent.toFixed(2)}%`);

        }


    });
    update();

</script>

<script>

</script>
</html>